<p id="notice"><%= notice %></p>

<h1>Cars</h1>
<h2>Fun </h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.name %></td>
        <td><%= car.color %></td>
        <td><%= car.price %></td>
        <td><%= car.car_picture %></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Car', new_car_path %>
<br><br>

<input id="user_born_on" name="user[born_on]" type="date" min="2021-08-08"/>
<input type="file"/>
