<p id="notice"><%= notice %></p>

<p class="myBtn">
  <strong>Picture:</strong>
   <% if @car.car_picture.attached? %>
      <%= image_tag rails_storage_redirect_path(@car.car_picture), class: "image_display" %>
    <% end %>
</p>

<p class="myBtn">
  <strong>Name:</strong>
  <%= @car.name %>
</p>

<p class="myBtn">
  <strong>Color:</strong>
  <%= @car.color %>
</p>

<p class="myBtn">
  <strong>Price:</strong>
  <%= @car.price %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
<%= link_to 'DELETETED', car_path(@car), method: :delete, data: {confirm: "You suuuure??"} %> |
